<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-img src="../assets/semanadomei.jpg"></ion-img>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>ETEC Comendador João Rays Participará da Semana do MEI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>A prefeitura de Barra Bonita e o Sebrae/SP promovem, entre os dias 14 e 18 de maio, a Semana do Microempreendedor Individual (MEI). O evento é destinado a empreendedores e representantes de empresas ativas no município. 
            As atividades gratuitas serão realizadas em forma de teleconferência no Centro Cultural Célia Stangherlin, na avenida Pedro Ometto, nº 467.</p>

          <div class="espaco-acima"></div>
    
          <p>A ETEC Comendador João Rays (Naval) também participará do evento e terá um ponto de transmissão em sua unidade. Os alunos assistirão as teleconferências e a escola também está aberta para receber comerciantes, empresários, empreendedores, MEIs e cidadãos que também quiserem aproveitar os workshops. Contudo, a ETEC transmitirá apenas alguns cursos específicos.</p>
    
          <div class="espaco-acima"></div>
    
          <p>Todos os interessados em participar das teleconferências - tanto no Centro Cultural como na ETEC - devem fazer as inscrições pelo telefone 3641-8082 com pelo menos 24 horas de antecedência.
          O objetivo é sanar dúvidas dos empresários sobre empresa, gestão financeira e plano de gestão, vendas, entre outros temas. Confira abaixo a lista de teleconferências oferecidas e se inscreva!</p>
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Data e Horário de Teleconferências na ETEC (Naval)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p> > Dia 15 | 16h-17h | Dicas práticas e cases de sucesso - Pastifício Cipolletta e Naturalle Marmitaria - com Marília Cipolletta e Fernanda Cassullo - Talk show</p>
            <p> > Dia 16 | 9h-10h | Educação financeira e acesso à crédito - Magda Calegari</p>
            <p> > Dia 16 | 16h-17h | Terapia Financeira e Papo empreendedor com Dr. Reinaldo Domingos - autor do best seller Terapia Financeira - Método Dsop </p>
            <p> > Dia 17 | 9h-10h | Comércio Eletrônico - Como decolar com seu negócio - Alfredo - empresa Xtech</p>
            <p> > Dia 17 | 16h-17h | YouTube: Mercado Livre </p>
            <p> > Dia 18 | 9h-10h | Pegada para o Futuro: O passo-a-passo para transformar sonhos em resultados. - Fred Alecrim</p>
          </ion-card-content>
      </ion-card>
  

      <div class="limpar"></div>

      <h5 class="espaco-esquerda">Compartilhar</h5>
    
      <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>
    
      <div class="limpar"></div>
    
      <div class="espaco-acima"></div>
    
    
    
      <ion-col width-50 style="text-align: right">
          <ion-button class="botao espaco-esquerda" href="/not4">
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            Anterior
          </ion-button>
        </ion-col>
        <ion-col width-50 style="text-align: left">
          <ion-button class="botao" href="/not6">
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            Proximo
          </ion-button>
        </ion-col>
    
    
          <div class="espaco-acima"></div>
    
    </ion-content>