<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/calendario">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
    <ion-title>Legenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-item>
    <ion-badge class="aa" >AA</ion-badge> 
    <ion-label>
     <blockquote> Atribuição de Aulas</blockquote>
    </ion-label>
  </ion-item>


<ion-item>
   <ion-badge class="pl preto" >PL</ion-badge> 
   <ion-label>
      <blockquote>Reunião de Planejamento</blockquote>
   </ion-label>
</ion-item> 

<ion-item>
  <ion-badge class="rp" >RP</ion-badge> 
  <ion-label>
     <blockquote>Reunião Pedagógica -<p>Não Letivo</p></blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="rpl" >RPL</ion-badge> 
  <ion-label>
      <blockquote>Reunião Pedagógica -<p>Letivo</p></blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="or" >RP</ion-badge> 
  <ion-label>
      <blockquote>Outras Reuniões - Letivo</blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="nl" >NL</ion-badge> 
  <ion-label>
      <blockquote>Dia não Letivo</blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="ccnl" >CCNL</ion-badge> 
  <ion-label>
      <blockquote>Conselho de Classe -<p> Não Letivo</p></blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="ccl" >CCL</ion-badge> 
  <ion-label>
      <blockquote>Conselho de Classe -<p> Letivo</p></blockquote>
  </ion-label>
</ion-item>

<ion-item>
  <ion-badge class="ornl" >ORNL</ion-badge> 
  <ion-label>
      <blockquote>Outras Reuniões -<p>Não Letivo</p></blockquote>
  </ion-label>
  </ion-item>
</ion-content>
