.fonte{
    font-size: 25px;
}


.aa{
    background: #90ee90;
}

.pl{
    background: #ffff01;
}

.rp{
    background: #0000fe;
}

.rpl{
    color:#f181ed;
    background: #fff;
}

.or{
    color:#017f04;
    background: #fff;
}

.nl{
    background: #fe0000;
}

.ccnl{
    background: #a52b2a;
}

.ccl{
    color:#a52b28;
    background: #fff;
}

.ornl{
    background: #027f01;
}

.preto{
    color:#000;
}