<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-img src="../assets/etecportasabertas.jpg"></ion-img>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>Etec de Portas Abertas para a comunidade</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Em mais uma edição do evento Etec de Portas Abertas, realizado segunda-feira, 29 de outubro, tivemos a oportunidade de novamente proporcionar à comunidade e estudantes da região uma visão sobre nossos cursos, instalações e projetos pedagógicos.</p>
    
          <div class="espaco-acima"></div>
    
          <p>Os visitantes puderam conhecer nossa infraestrutura, participar de apresentações, minicursos e palestras abordando temas de interesse profissional, em um importante momento de troca de experiências, principalmente para os alunos interessados em ingressar em nossos cursos, os quais puderam interagir com professores e alunos dos cursos técnicos e ensino médio.</p>
    
          <div class="espaco-acima"></div>
    
          <p>Dentre as atividades realizadas, figuraram:</p>

          <div class="espaco-acima"></div>

         <p> > Apresentações sobre os cursos de Administração, Logística, Desenvolvimento de Sistemas, Ensino Médio e Ensino Médio Integrado.</p>
         <p> > Mini palestra: “Prepare-se para uma seleção de emprego”, com Amanda Zanetti.</p>
         <p> > Mini palestra: “Conflitos no ambiente de trabalho: Ter razão? Eis a questão”, com Amanda Bragion.</p>
         <p> > Mini cursos: Photoshop e Excel.</p>

        </ion-card-content>
      </ion-card>
    
      

      <div class="limpar"></div>

      <h5 class="espaco-esquerda">Compartilhar</h5>
    
      <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>
    
      <div class="limpar"></div>
    
      <div class="espaco-acima"></div>
    
    
    
      <ion-col width-50 style="text-align: right">
          <ion-button class="botao espaco-esquerda" href="/not3">
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            Anterior
          </ion-button>
        </ion-col>
        <ion-col width-50 style="text-align: left">
          <ion-button class="botao" href="/not5">
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            Proximo
          </ion-button>
        </ion-col>
    
    
          <div class="espaco-acima"></div>
    
    </ion-content>