<ion-header>
  <ion-toolbar color="curso">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Ensino Integrado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-card>
        <ion-card-content>
            O  Ensino Técnico Integrado ao Médio, além de abranger as disciplinas regulares da última etapa do ensino básico, as integra ao ensino técnico, em nossa escola, ao curso de Informática para Internet, visando também a formação profissional do aluno, que é responsável por desenvolver programas de computador para internet seguindo as especificações e paradigmas da lógica e das linguagens de programação, identifica e usa fontes e documentos específicos para a obtenção das informações desejadas.

            <div class="espaco-acima"></div>

            São elaborados projetos interdisciplinares entre as disciplinas do Ensino Médio e Técnico, trabalhos que são apresentados anualmente tanto na Semana Científica e Cultural como na Semana das Profissões, eventos abertos à comunidade com salas interativas e aulas experimentais.

            <div class="espaco-acima"></div>

            <p><strong>></strong>  O primeiro estuda situações-problemas relacionados à vida cotidiana do aluno de forma a proporcionar a capacidade de compreender o mundo ao seu redor.</p>
            <p><strong>></strong>  O segundo, além de divulgar o curso, tem como finalidade auxiliar os educandos na escolha profissional, informando sobre perfil profissional, empregabilidade, faixa salarial e o que se estuda no curso técnico oferecido pela escola. Ambos eventos contribuem para trabalhar o espírito em equipe, a comunicação, as adversidades, flexibilidade, liderança, iniciativa, comportamento ético, para que o desenvolvimento das competências e habilidades seja pleno.</p>
        
            <div class="espaco-acima"></div>

            Para a divulgação do curso promove-se no segundo semestre o evento “Etec de portas abertas”. Também aberto à comunidade, a equipe gestora, pedagógica e docente apresentam as instalações da escola, as disciplinas e as respectivas habilidades e competências contempladas no plano docente.

            <div class="espaco-acima"></div>

            Para recepcionar os novos alunos e integrar a comunidade escolar, a escola conta com o evento “Show da Etec”, com diversas apresentações artísticas, entre as quais grupos de danças, paródias, dublagens, apresentações musicais, vídeos, entre outras. O evento valoriza a expressão e a arte como instrumentos de desenvolvimento das habilidades perceptivas e da capacidade reflexiva na formação de uma consciência crítica do aluno, além de proporcionar um ambiente agradável e respeitoso.

            <div class="espaco-acima"></div>

            No último ano, o responsável pelo componente curricular TCC cria oportunidades para que os alunos construam e apresentem um produto final – Trabalho de Conclusão de Curso – TCC. Este se constitui por uma pesquisa que, somada à pesquisa bibliográfica, dará o embasamento prático e teórico necessário para o desenvolvimento do trabalho. A escola adota como proposta a criação de sites.
        
          </ion-card-content>
      </ion-card>

      <div class="espaco-acima"></div>
      <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="curso">Inscrever - se</ion-button>
      <div class="espaco-acima"></div>
</ion-content>
