ion-toolbar{
    height: 75px;
  }
  
  ion-card{
    background: #fff;
  }
  
  ios-ion-label{
  font-size: 50px;
  }
  
  .espaco-acima{
    margin-top:25px;
  }
  
  .espaco-esquerda{
    margin-left: 23px;
  }
  
  img {
    max-width: 100%;
    border: 0;
  }
  ion-card-title{
    font-size: 20px !important; 
  }

  .fonte{
    font-size: 25px;
}