<ion-header>
  <ion-toolbar color="info">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Informática para Internet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/info-net.jpg"></ion-img>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Habilitação Profissional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          O TÉCNICO EM INFORMÁTICA PARA INTERNET é o profissional que desenvolve e realiza manutenções em websites, portais na Internet e Intranet.

          <div class="espaco-acima"></div>
    
    Utiliza ferramentas de desenvolvimento de projetos para construir soluções que auxiliam o processo de criação de interfaces e aplicativos empregados no comércio e marketing eletrônicos.
    
      </ion-card-content>
    </ion-card>
    

    <ion-card>
        <ion-card-header>
          <ion-card-title>Grade curricular</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            O curso de TÉCNICO EM INFORMÁTICA PARA INTERNET é composto por três módulos.
            <div class="espaco-acima"></div>
            O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR DE INFORMÁTICA PARA INTERNET.
            <div class="espaco-acima"></div>
            O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR EM DESIGN DE WEBSITES.
            <div class="espaco-acima"></div>
            Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM INFORMÁTICA PARA INTERNET, desde que tenha concluído, também, o Ensino Médio.
        </ion-card-content>
      </ion-card>


      <ion-list>
          <ion-item-divider>
            <ion-label>
                MÓDULO I
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Gestão de Sistemas Operacionais</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Operação de Softwares Aplicativos I</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Instalação e Manutenção de Computadores</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Desenvolvimento e Design de Websites I</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Lógica de Programação</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Arte Digital</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Empreendedorismo</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Inglês Instrumental</ion-label></ion-item>
    <ion-item><ion-label class="texto">9.Linguagem, Trabalho e Tecnologia</ion-label></ion-item>
          
          <div class="espaco-acima"></div>

          <ion-item-divider>
            <ion-label>
                MÓDULO II
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Redes de Comunicação de Dados I</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Operação de Software I</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Desenvolvimento e Design de Websites II</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Projeto de Aplicações Web I</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Tecnologias e Linguagens para Banco de Dados I</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Composição e Projeto</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Criação e Editoração de Imagens</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Informática para Internet</p></ion-label></ion-item>
    
     <div class="espaco-acima"></div>
     
    <ion-item-divider>
            <ion-label>
                MÓDULO III
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Redes de Comunicação de Dados II</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Programação para Internet</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Desenvolvimento de Software II</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Desenvolvimento e Design de Websites III</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Projeto de Aplicações Web II</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Tecnologias e Linguagens para Banco de Dados II</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Marketing para Web</ion-label></ion-item>
    <ion-item><ion-label class="texto">8.Ética e Cidadania Organizacional</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Desenvolvimento  do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Informática para Internet</p></ion-label></ion-item>
        </ion-list>
       
        <div class="espaco-acima"></div>
    <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="info">Inscrever - se</ion-button>
    <div class="espaco-acima"></div>

</ion-content>
