<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




      <ion-list>
          <ion-item-divider>
            <ion-label class="cor-fonte">
              Localização
            </ion-label>
            <ion-icon slot="start" color="medium" name="pin"></ion-icon>
          </ion-item-divider>
        
          <ion-item><ion-label class="fonte-2">Rua Ludovico Victório</ion-label></ion-item>
          <ion-item><ion-label class="fonte-2">2140 Vila Habitacional</ion-label></ion-item>
          <ion-item><ion-label class="fonte-2">Barra Bonita-SP, 17340-000</ion-label></ion-item>

          <div class="espaco-acima"></div>
          
          <ion-item-divider>
            <ion-label class="cor-fonte">
               Email
            </ion-label>
            <ion-icon slot="start" color="medium" name="mail"></ion-icon>
          </ion-item-divider>
        
          <ion-item><ion-label class="fonte-2">etecbarrabonita@etecbarrabonita.com.br</ion-label></ion-item>

          <div class="espaco-acima"></div>

          <ion-item-divider>
              <ion-label class="cor-fonte">
                 Telefone
              </ion-label>
              <ion-icon slot="start" color="medium" name="call"></ion-icon>
            </ion-item-divider>
          
            <ion-item><ion-label class="fonte-2">(14)3641-1310</ion-label></ion-item>

            <div class="espaco-acima"></div>

            <ion-item-divider>
                <ion-label class="cor-fonte">
                   Links
                </ion-label>
                <ion-icon slot="start" color="medium" name="link"></ion-icon>
              </ion-item-divider>
            
              <ion-item href="https://www.cps.sp.gov.br/" class="activated"><ion-label class="fonte-2">Centro Paula Souza</ion-label></ion-item>
              <ion-item href="https://www.vestibulinhoetec.com.br/home/" class="activated"><ion-label class="fonte-2">Vestibulinho</ion-label></ion-item>
              
        </ion-list>


</ion-content>
