<ion-header>
  <ion-toolbar color="adm">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Administração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/adm.jpg"></ion-img>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Habilitação Profissional</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            O TÉCNICO EM ADMINISTRAÇÃO é o profissional que adota postura ética na execução da rotina administrativa, na elaboração do planejamento da produção e materiais, Recursos Humanos, financeiros e mercadológicos.

            <div class="espaco-acima"></div>

            Realiza atividades de controles e auxilia nos processos de direção utilizando ferramentas da informática básica. Fomenta ideias e práticas empreendedoras. Desempenha suas atividades observando as normas de segurança, saúde e higiene do trabalho, bem como as de preservação ambiental.
        </ion-card-content>
      </ion-card>
      

      <ion-card>
          <ion-card-header>
            <ion-card-title>Grade curricular</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              O curso de TÉCNICO EM ADMINISTRAÇÃO é composto por três módulos.
              <div class="espaco-acima"></div>
              O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR ADMINISTRATIVO.
              <div class="espaco-acima"></div>
              O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de ASSISTENTE ADMINISTRATIVO.
              <div class="espaco-acima"></div>
              Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM ADMINISTRAÇÃO, desde  que tenha concluído, também, o Ensino Médio.
          </ion-card-content>
        </ion-card>


        <ion-list>
            <ion-item-divider>
              <ion-label>
                  MÓDULO I
              </ion-label>
            </ion-item-divider>
          
            <ion-item><ion-label class="texto">1.Gestão de Pessoas</ion-label></ion-item>
            <ion-item><ion-label class="texto">2.Cálculos Financeiros</ion-label></ion-item>
            <ion-item><ion-label class="texto">3.Gestão Empresarial</ion-label></ion-item>
            <ion-item><ion-label class="texto">4.Ética e Cidadania Organizacional</ion-label></ion-item>
            <ion-item><ion-label class="texto">5.Aplicativos Informatizados</ion-label></ion-item>
            <ion-item><ion-label class="texto">6.Processos Operacionais Contábeis</ion-label></ion-item>
            <ion-item><ion-label class="texto">7.Linguagem, Trabalho e Tecnologia</ion-label></ion-item>
            <ion-item><ion-label class="texto">8.Técnicas Organizacionais</ion-label></ion-item>
            
            <div class="espaco-acima"></div>

            <ion-item-divider>
              <ion-label>
                  MÓDULO II
              </ion-label>
            </ion-item-divider>
          
            <ion-item><ion-label class="texto">1.Gestão de Pessoas II</ion-label></ion-item>
            <ion-item><ion-label class="texto">2.Administração em Marketing</ion-label></ion-item>
            <ion-item><ion-label class="texto">3.Legislação Empresarial</ion-label></ion-item>
            <ion-item><ion-label class="texto">4.Custos e Operações Contábeis</ion-label></ion-item>
            <ion-item><ion-label class="texto">5.Cálculos Estatísticos</ion-label></ion-item>
            <ion-item><ion-label class="texto">6.Gestão Empreendedora e Inovação</ion-label></ion-item>
            <ion-item><ion-label class="texto">7.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Administração</p></ion-label></ion-item>


      <div class="espaco-acima"></div>

      <ion-item-divider>
        <ion-label>
            MÓDULO III
        </ion-label>
      </ion-item-divider>
    
      <ion-item><ion-label class="texto">1.Marketing Institucional</ion-label></ion-item>
      <ion-item><ion-label class="texto">2.Gestão Financeira e Economica</ion-label></ion-item>
      <ion-item><ion-label class="texto">3.Gestão de Pessoas III </ion-label></ion-item>
      <ion-item><ion-label class="texto">4.Gestão da Produção e Materias </ion-label></ion-item>
      <ion-item><ion-label class="texto">5.Logística Empresarial e Negociação Internacional</ion-label></ion-item>
      <ion-item><ion-label class="texto">6.Ingles Instrumental</ion-label></ion-item>
      <ion-item><ion-label class="texto">7.Desenvolvimento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Administração</p></ion-label></ion-item>
    </ion-list>

    <div class="espaco-acima"></div>
    <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="adm">Inscrever - se</ion-button>
    <div class="espaco-acima"></div>
  
  </ion-content>
