<ion-header>
  <ion-toolbar color="ds">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/ds.jpg"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Habilitação Profissional</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        O TÉCNICO EM DESENVOLVIMENTO DE SISTEMAS é o profissional que desenvolve e opera sistemas, aplicações e interfaces gráficas. Monta estruturas de banco de dados e codifica programas. Projeta, implanta e realiza manutenção de sistemas e aplicações. Seleciona recursos de trabalho, linguagens de programação, ferramentas e metodologias para o desenvolvimento de sistemas
    </ion-card-content>
  </ion-card>

  <div class="espaco-acima"></div>
  <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="ds">Inscrever - se</ion-button>
  <div class="espaco-acima"></div>

</ion-content>
