<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/calendario">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
    <ion-title>Abril</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../assets/img/abril.jpg" class="img-fluid" />

    <ion-item>
      <ion-badge color="light" >02</ion-badge> 
      <ion-label class="texto">
          <blockquote>Reunião da Direção com Representante Discente</blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >08</ion-badge> 
      <ion-label class="texto">
          <blockquote>Reunião da Direção com Equipe Pedagógico-Administrativo - <p class="texto"> Equipe Gestora, Coordenação, Auxiliares Docentes e Orientação Educacional </p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >12</ion-badge> 
      <ion-label class="texto">
          <blockquote>Reunião de Cursos</blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >18 a 22</ion-badge> 
      <ion-label class="texto">
          <blockquote> Entrega dos Resultados  <p class="texto">Intermediarios 1º Bimestre - Anual</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >18 a 22</ion-badge> 
      <ion-label class="texto">
          <blockquote> Entrega dos Resultados  <p class="texto">Intermediarios 1º Bimestre - Semestral</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >19</ion-badge> 
      <ion-label class="texto">
          <blockquote> Feriado Nacional - Paixão de Cristo <p class="texto"> </p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >22</ion-badge> 
      <ion-label class="texto">
          <blockquote> Reunião da Direção com Equipe Pedagógico Administrativo  - <p class="texto"> Equipe Gestora, Coordenação, Auxiliares Docentes e Orientação Educacional</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >24</ion-badge> 
      <ion-label class="texto">
          <blockquote> Encerramento do 1º Bimestre - <p class="texto"> Semestral</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >24</ion-badge> 
      <ion-label class="texto">
          <blockquote> Encerramento de 1º Bimestre - <p class="texto"> Anual</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >25 a 26</ion-badge> 
      <ion-label class="texto">
          <blockquote> Conselho de Classe Intermediario - <p class="texto"> Semestral</p></blockquote>
      </ion-label>
    </ion-item>
    
    
    <ion-item>
      <ion-badge color="light" >26</ion-badge> 
      <ion-label class="texto">
          <blockquote> Conselho de Classe Intermediario - <p class="texto"> Anual</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >29</ion-badge> 
      <ion-label class="texto">
          <blockquote> Divulgação dos Resultados do <p class="texto">Conselho de Classe Intermediarias -  Semestral</p></blockquote>
      </ion-label>
    </ion-item>
    
    
    <ion-item>
      <ion-badge color="light" >29</ion-badge> 
      <ion-label class="texto">
          <blockquote> Divulgação de Resultado do 1º bimestre - <p class="texto"> Semestral</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >29</ion-badge> 
      <ion-label class="texto">
          <blockquote> Divulgação de Resultado do 1º bimestre - <p class="texto"> Anual</p></blockquote>
      </ion-label>
    </ion-item>
    
    
    <ion-item>
      <ion-badge color="light" >29</ion-badge> 
      <ion-label class="texto">
          <blockquote> Inicio Periodo de Solicitação de <p class="texto">Reconsiderações Intermediarias - Anual</p></blockquote>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-badge color="light" >29</ion-badge> 
      <ion-label class="texto">
          <blockquote> Inicio Periodo de Solicitação de  <p class="texto">Reconsiderações Intermediarias - Semestral</p></blockquote>
      </ion-label>
    </ion-item>

</ion-content>
