<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-img src="../assets/semanacientifica2017.jpg"></ion-img>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>Semana Científica e Cultural</ion-card-title>
          <ion-card-subtitle>Edição 2017</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>A Escola Técnica Estadual (Etec) Comendador João Rays, de Barra Bonita, município localizado na Região de Bauru, promove nesta terça e quarta-feira, dias 12 e 13, a Semana Científica e Cultural 2017. As atividades começaram na véspera com apresentação aos familiares dos estudantes da unidade.</p>

          <div class="espaco-acima"></div>
    
          <p>Organizada pelos alunos e professores dos Ensinos Médio e Técnico integrado, a iniciativa aberta à comunidade terá apresentações de dança, teatro e salas temáticas. Instituições de ensino interessadas em agendar visitas monitoradas à Etec neste período podem entrar em contato com a unidade pelo e-mail.</p>
 
          <div class="espaco-acima"></div>
    
          <p>“A ideia do tema do evento ‘A Era da Pós-verdade’ surgiu durante conversa com os alunos sobre a onda de notícias falsas que temos visto nas redes sociais”, explica a diretora da Etec Sônia Dalavale Tozatto. “Os trabalhos têm o intuito de fazer o público refletir sobre as informações que estão consumindo e mostrar que é necessário procurar várias fontes”, conclui.</p>
        
          <div class="espaco-acima"></div>

          <p>Durante a manhã, os estudantes vão apresentar duas peças teatrais: O Homem que Sabia Javanês, de Lima Barreto, e O Alienista, de Machado de Assis. Também haverá dramatização do poema Os ombros que suportam o mundo, de Carlos Drummond de Andrade, e uma apresentação de dança com a música Esquiva da Esgrima do cantor Criolo.</p>

          <div class="espaco-acima"></div>

          <p>Confira a programação das salas temáticas que poderão ser visitadas nos dois períodos:</p>
        </ion-card-content>
      </ion-card>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>Salas:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><h6>Entre a luz e a escuridão:</h6>experimentos de física e química envolvendo fenômenos ópticos.</p>
          
          <div class="espaco-acima"></div>

          <p><h6>A Arte do grafite:</h6>reflexões sobre preconceitos, racismo, violência numa linguagem artística.</p>

          <div class="espaco-acima"></div>
    
          <p><h6>Colômbia – mais do que os olhos podem ver:</h6>cultura, música, dança e a arte na Colômbia mostrando muito mais do que os olhos podem enxergar de forma a refletir, inclusive, sobre questões que também afligem nosso País.</p>

          <div class="espaco-acima"></div>
        
          <p><h6>Pós-Verdade:</h6>contextualização entre a literatura, história e filosofia sobre o conceito de pós-verdade, palavra que foi inserida no dicionário Oxford e considerada a palavra do ano de 2016</p>

          <div class="espaco-acima"></div>

          <p><h6>Acredito, logo existe:</h6>mitos e verdades envolvendo áreas do conhecimento de medicina, nutrição, farmácia e aspectos sociais.</p>

          <div class="espaco-acima"></div>

          <p><h6>Photofake:</h6>simulação fotográfica para “levar” os visitantes a lugares históricos e inusitados.</p>
        </ion-card-content>
      </ion-card>
    

      <div class="limpar"></div>

      <h5 class="espaco-esquerda">Compartilhar</h5>
    
      <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>
    
      <div class="limpar"></div>
    
      <div class="espaco-acima"></div>
    
    
    
      <ion-button expand="block" class="botao" href="/not6">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        Anterior
      </ion-button>
    
    
          <div class="espaco-acima"></div>
    
    </ion-content>
