<ion-header>
  <ion-toolbar color="adm">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
      
    <ion-title>Secretariado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/secretariado.jpeg"></ion-img>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Habilitação Profissional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          O TÉCNICO EM SECRETARIADO é o profissional que assessora o (os) executivo (os) em linguagem nacional e internacional, aplicando as técnicas secretariais que subsidiarão o (os) executivo (os) na tomada de decisões, inclusive para o planejamento estratégico, tático, operacional e Plano Diretor.

          <div class="espaco-acima"></div>

    Exerce funções gerenciais; empreendedoras; práticas inovadoras; ações proativas; comprometido com a cultura organizacional; gerencia o fluxo de informações: produção documental física e eletrônica, conferência da documentação com ênfase no apoio à gestão organizacional.
    
    <div class="espaco-acima"></div>
    
    Domina aplicativos e Internet na pesquisa, organização, elaboração, atualização e manutenção de dados.
    
      </ion-card-content>
    </ion-card>
    

  <h2>Grade curricular</h2>

      <ion-list>
          <ion-item-divider>
            <ion-label>
                MÓDULO I
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Representação e Comunicação em Língua Portuguesa I</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Representação e Comunicação em Língua Estrangeira Moderna: Espanhol I</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Representação e Comunicação em Língua Estrangeira Moderna: Inglês I</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Administração e Planejamento Empresarial</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Gerenciamento de Rotinas e Serviços</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Gestão de Informações e Documentos</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Aplicativos Informatizados I</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Ética e Cidadania Organizacional</ion-label></ion-item>
    
          
          <div class="espaco-acima"></div>

          <ion-item-divider>
            <ion-label>
                MÓDULO II
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Representação e Comunicação em Língua Portuguesa II</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Representação e Comunicação em Língua Estrangeira Moderna: Espanhol II</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Representação e Comunicação em Língua Estrangeira Moderna: Inglês II</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Assessoria Empresarial e de Eventos</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Tecnologias em Ambientes Administrativos I</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Gestão Financeira e Contábil</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Aplicativos Informatizados II</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) na Área Secretarial</p></ion-label></ion-item>
    
     <div class="espaco-acima"></div>
     
    <ion-item-divider>
            <ion-label>
                MÓDULO III
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Representação e Comunicação em Língua Portuguesa III</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Representação e Comunicação em Língua Estrangeira Moderna: Espanhol III</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Representação e Comunicação em Língua Estrangeira Moderna: Inglês III</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Assessoramento Empresarial</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Aplicativos Informatizados III</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Assessoramento de Eventos</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Tecnologias em Ambientes Administrativos</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Desenvolvimento  do Trabalho de <p class="texto">Conclusão de Curso (TCC) na Área Secretarial</p></ion-label></ion-item>
        </ion-list>
    
        <div class="espaco-acima"></div>
    <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="adm">Inscrever - se</ion-button>
    <div class="espaco-acima"></div>

</ion-content>