<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/calendario">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
    <ion-title>Fevereiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/img/fevereiro.jpg" class="img-fluid" />


  <ion-item *ngFor= "let fevereiro of listafevereiro">
      <ion-badge color="light" >{{fevereiro.dia}}</ion-badge> 
      <ion-label class="texto">
          <blockquote [innerHtml]="fevereiro.desc"></blockquote>
      </ion-label>
    </ion-item>
    
    
</ion-content>
