<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-img src="../assets/microsoftimagine.jpg"></ion-img>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>Projeto Microsoft Imagine</ion-card-title>
          <ion-card-subtitle>O que é o Microsoft Imagine?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>É uma WebStore onde, os alunos e professores poderão realizar o download dos produtos Microsoft gratuitamente. Para obter este benefício, alunos ou professores deverão ter seu e-mail institucional e vínculo ativo com a Etec ou Fatec, ou seja, somente será permitido o download para os alunos durante o período em que estiver cursando uma Etec, Fatec ou professor em exercício.</p>

          <div class="espaco-acima"></div>
    
          <p>O Microsoft Imagine dirige-se a instituições de ensino secundário, profissional e superior que pretendam oferecer aos seus alunos o acesso gratuito a tecnologias Microsoft. É um acordo especial entre o Centro Paula Souza e a Microsoft que inclui as mais recentes ferramentas de desenvolvimento, plataformas e servidores da Microsoft.</p>
    
          <div class="espaco-acima"></div>
          
          
          <ion-button expand="block" class="botao" href="https://etec.onthehub.com/WebStore/Welcome.aspx">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <p>Para saber mais</p>
          </ion-button>
        </ion-card-content>
      </ion-card>
    
      

      <div class="limpar"></div>

      <h5 class="espaco-esquerda">Compartilhar</h5>
    
      <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>
    
      <div class="limpar"></div>
    
      <div class="espaco-acima"></div>
    
    
    
      <ion-col width-50 style="text-align: right">
          <ion-button class="botao espaco-esquerda" href="/not5">
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            Anterior
          </ion-button>
        </ion-col>
        <ion-col width-50 style="text-align: left">
          <ion-button class="botao" href="/not7">
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            Proximo
          </ion-button>
        </ion-col>
    
    
          <div class="espaco-acima"></div>
    
    </ion-content>
