<ion-header>
  <ion-toolbar color="laranja">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>
    <ion-title>Calendário Escolar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item routerLink="/janeiro" class="activated" ><ion-label >Janeiro</ion-label></ion-item>
  <ion-item routerLink="/fevereiro" class="activated"><ion-label >Fevereiro</ion-label></ion-item>
  <ion-item routerLink="/marco" class="activated"><ion-label >Março</ion-label></ion-item>
  <ion-item routerLink="/abril" class="activated"><ion-label >Abril</ion-label></ion-item>
  <ion-item routerLink="/maio" class="activated"><ion-label >Maio</ion-label></ion-item>
  <ion-item routerLink="/junho" class="activated"><ion-label >Junho</ion-label></ion-item>
  <ion-item routerLink="/julho" class="activated"><ion-label >Julho</ion-label></ion-item>
  <ion-item routerLink="/agosto" class="activated"><ion-label >Agosto</ion-label></ion-item>
  <ion-item routerLink="/setembro" class="activated"><ion-label >Setembro</ion-label></ion-item>
  <ion-item routerLink="/outubro" class="activated"><ion-label >Outubro</ion-label></ion-item>
  <ion-item routerLink="/novembro" class="activated"><ion-label >Novembro</ion-label></ion-item>
  <ion-item routerLink="/dezembro" class="activated"><ion-label >Dezembro</ion-label></ion-item>
  <ion-item routerLink="/legenda" class="activated"><ion-label >Legenda</ion-label></ion-item>


</ion-content>
