<ion-header>
  <ion-toolbar color="logistica">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Logística</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/logistica.jpeg"></ion-img>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Habilitação Profissional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          O TÉCNICO EM LOGÍSTICA é o profissional que colabora na gestão dos processos de planejamento, operação e controle de programação da produção de bens e serviços, programação de manutenção de máquinas e de equipamentos, de compras, de recebimento, de armazenamento, de estoques, de movimentação, de expedição, transporte e distribuição de materiais e produtos, e executa as mesmas funções utilizando tecnologia da informação.

          <div class="espaco-acima"></div>

          Identifica metodologias, sistemas, procedimentos e equipamentos e estabelece critérios para seleção e utilização adequadas.
    
    <div class="espaco-acima"></div>
    
    Presta  atendimento aos clientes. Elabora e interpreta tabelas, gráficos e mapas. Implementa os procedimentos de controle de custos, qualidade, segurança e higiene do trabalho no sistema logístico. Atua de forma cooperativa e solidária, segundo princípios éticos e cidadãos.
      </ion-card-content>
    </ion-card>
    

    <ion-card>
        <ion-card-header>
          <ion-card-title>Grade curricular</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            O curso de TÉCNICO EM LOGÍSTICA é composto por três módulos.
            <div class="espaco-acima"></div>
            O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR DE LOGÍSTICA.
            <div class="espaco-acima"></div>
            O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de ASSISTENTE DE LOGÍSTICA.
            <div class="espaco-acima"></div>
            Ao completar os MÓDULOS I, II e III, o aluno receberá o diploma de TÉCNICO EM LOGÍSTICA, desde que tenha concluído, também, o Ensino Médio.
        </ion-card-content>
      </ion-card>


      <ion-list>
          <ion-item-divider>
            <ion-label>
                MÓDULO I
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Introdução à Logística</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Planejamento Empresarial e Empreendedorismo</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Aplicativos Informatizados</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Linguagem, Trabalho e Tecnologia</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Ética e Cidadania Organizacional</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Inglês Instrumental</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Gestão de Pessoas</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Cálculos Financeiros e Estatísticos</ion-label></ion-item>
          
          <div class="espaco-acima"></div>

          <ion-item-divider>
            <ion-label>
                MÓDULO II
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Gestão de Recursos e Materiais</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Custos Logísticos</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Planejamento, Programação e Controle da Produção</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Movimentação, Expedição e Distribuição</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Gestão da Cadeia de Abastecimento</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Marketing</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Logística</p></ion-label></ion-item>
    
     <div class="espaco-acima"></div>
     
    <ion-item-divider>
            <ion-label>
                MÓDULO III
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.	Gestão de Transportes</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.	Saúde e Segurança no Trabalho</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.	Logística Internacional e Economia</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.	Logística Reversa</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.	Gestão da Qualidade Total</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.	Tecnologia da Informação</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.	Legislação Tributária</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Desenvolvimento  do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Logística</p></ion-label></ion-item>
        </ion-list>
    
        <div class="espaco-acima"></div>
    <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="logistica">Inscrever - se</ion-button>
    <div class="espaco-acima"></div>

</ion-content>
