<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-img src="../assets/ormub2018.jpg"></ion-img>
    
      <ion-card>
    
        <ion-card-header>
          <ion-card-title>Alunas da Etec conquistam medalhas na ORMUB 2018</ion-card-title>
         
        </ion-card-header>
        <ion-card-content>
          <p>Na edição 2018 da Olimpíada Regional de Matemática da Unesp – Bauru, as alunas Emily Vitória De Sousa Da Silva Ferreira (2º série do ensino médio) e Anyelle Meneghesso (3º série do ensino médio) conseguiram ótimas classificações na categoria Escolas Públicas, colocando em destaque o nome da nossa Etec Comendador João Rays e a qualidade de nossos cursos.</p>

          <div class="espaco-acima"></div>
    
          <p>Parabéns Emily e Anyelle por essa importante conquista.</p>
        </ion-card-content>
    
      </ion-card>
    
    

      <div class="limpar"></div>

      <h5 class="espaco-esquerda">Compartilhar</h5>
    
      <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>
    
      <div class="limpar"></div>
    
      <div class="espaco-acima"></div>
    
    
    
      <ion-col width-50 style="text-align: right">
          <ion-button class="botao espaco-esquerda" href="/not2">
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            Anterior
          </ion-button>
        </ion-col>
        <ion-col width-50 style="text-align: left">
          <ion-button class="botao" href="/not4">
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            Proximo
          </ion-button>
        </ion-col>
    
    
          <div class="espaco-acima"></div>
    
    </ion-content>
