<ion-header>
  <ion-toolbar color="vermelho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" routerLink="/home">
      <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
    </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-img src="../assets/vestibulinho.jpg"></ion-img>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Vestibulinho Etec</ion-card-title>
      <ion-card-subtitle>1ª lista de convocação e matrícula</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Atenção, você que prestou o Vestibulinho da Etec referente ao 1º semestre de 2019!</p>

      <div class="espaco-acima"></div>

      <p>Nesta quinta-feira (17/01/2019) estará disponível a primeira lista de convocação para os candidatos aprovados. As
      matrículas poderão ser realizadas na quinta (17/01/2019) e sexta-feira (18/01/2019), das 13h às 20h, na Etec
      Comendador João Rays.</p>

      <div class="espaco-acima"></div>

      <p>Lembramos que o aluno, no momento da matrícula, deve apresentar os seguintes documentos:</p>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Matrícula para o Ensino Médio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>>Xerox simples da célula de identidade (RG) e CPF;</p>
      <div class="espaco-acima"></div>
      <p>>Histórico escolar ou declaração de conclusão de ensino fundamental;</p>

      <div class="espaco-acima"></div>

      <p>>2 fotos 3×4 recentes;</p>

      <div class="espaco-acima"></div>
      <p>>Escolaridade Pública: Apresentar histórico escolar ou declaração detalhada comprovando ter cursado integralmente
      o ensino fundamental, de 5ª a 8ª série ou do 6º ao 9º ano em instituição pública.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Matrícula para o Ensino Técnico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>>Xerox simples da célula de identidade (RG) e CPF;</p>
      <div class="espaco-acima"></div>
      <p>>Histórico escolar ou declaração de conclusão do ensino médio ou declaração que está matriculado a partir da 2º
      série do ensino médio;</p>

      <div class="espaco-acima"></div>

      <p>>2 fotos 3×4 recentes;</p>

      <div class="espaco-acima"></div>
      <p>>Escolaridade Pública: Apresentar histórico escolar ou declaração detalhada comprovando ter cursado integralmente
      o ensino fundamental, de 5ª a 8ª série ou do 6º ao 9º ano em instituição pública.</p>
    </ion-card-content>
  </ion-card>
  <div class="limpar"></div>

  <h5 class="espaco-esquerda">Compartilhar</h5>

  <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>

  <div class="limpar"></div>

  <div class="espaco-acima1"></div>
  <ion-button expand="block" class="botao" href="/not2">
    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    Próximo
  </ion-button>
  <div class="espaco-acima"></div>


</ion-content>