.fonte{
    font-size: 25px;
}

img {
    max-width: 100%;
    border: 0;
}

.espaco-acima{
    margin-top:25px;
}

ion-card{
    background: #fff;
  }

  ion-card-title{
    font-size: 20px !important; 
  }