<ion-header>
  <ion-toolbar color="contabilidade">
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-buttons slot="start" routerLink="/cursos">
              <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
          </ion-buttons>
    <ion-title>Contabilidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/img-curso/contabilidade.jpg"></ion-img>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Habilitação Profissional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          O TÉCNICO EM CONTABILIDADE é o profissional que desempenha tarefas relativas à contabilidade e auxilia a administração das entidades. Analisa a documentação contábil e elabora o plano de contas.

          <div class="espaco-acima"></div>

          Organiza, controla e arquiva documentos relativos à atividade contábil e prepara as conciliações contábeis. Registra as operações de débito e crédito da empresa, ordenando os movimentos de partidas simples e dobradas.
    
    <div class="espaco-acima"></div>
    
    Prepara a documentação, apura haveres, direitos e obrigações legais. Constitui e regulariza empresas, examina e classifica documentos fiscais e parafiscais. Auxilia no  atendimento à fiscalização e precede a consultoria empresarial. Executa a contabilidade geral, operacionaliza a contabilidade de custos, efetua contabilidade gerencial e realiza controle patrimonial.
      </ion-card-content>
    </ion-card>
    

    <ion-card>
        <ion-card-header>
          <ion-card-title>Grade curricular</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            O curso de TÉCNICO EM CONTABILIDADE é composto por três módulos.
            <div class="espaco-acima"></div>
            O MÓDULO I não oferece terminalidade e será destinado à construção de um conjunto de competências que subsidiarão o desenvolvimento de competências mais complexas, previstas para os módulos subsequentes.
            <div class="espaco-acima"></div>
            O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR DE CONTABILIDADE.
            <div class="espaco-acima"></div>
            Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM CONTABILIDADE, desde que tenha concluído, também, o Ensino Médio.
        </ion-card-content>
      </ion-card>


      <ion-list>
          <ion-item-divider>
            <ion-label>
                MÓDULO I
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Aplicativos Informatizados</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Ética e Cidadania Organizacional</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Gestão de Documentos Contábeis</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Contabilidade Introdutória</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Direito Comercial e Empresarial</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Linguagem, Trabalho e Tecnologia</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Operações Financeiras</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Economia e Mercado Financeiro</ion-label></ion-item>
    <ion-item><ion-label class="texto">9.Legislação Social e Trabalhista</ion-label></ion-item>
          
          <div class="espaco-acima"></div>

          <ion-item-divider>
            <ion-label>
                MÓDULO II
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Contabilidade Comercial</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Contabilidade de Custos</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Contabilidade Intermediária</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Sistemas de Informações Contábeis</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Planejamento Estatísticos de Pesquisa</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Inglês Instrumental</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Contabilidade</p></ion-label></ion-item>
    
     <div class="espaco-acima"></div>
     
          <ion-item-divider>
            <ion-label>
                MÓDULO III
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Contabilidade Gerencial e Estratégica</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Tópicos Especiais de Contabilidade</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Contabilidade Tributária e Fiscal</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Estrutura e Análise das Demonstrações Financeiras</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Contabilidade Pública</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Contabilidade do Agronegócio</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Desenvolvimento  do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Contabilidade</p></ion-label></ion-item>
        
      </ion-list>
    
        <div class="espaco-acima"></div>
        
        <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="contabilidade">Inscrever - se</ion-button>
        
        <div class="espaco-acima"></div>

</ion-content>
