<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/home">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
        </ion-buttons>

    <ion-title>Etec Barra Bonita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
<ion-img src="../assets/oba2018.jpg"></ion-img>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Etec representada nas Seletivas para Olimpíadas Internacionais de Astronomia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Na edição 2018 da OBA – Olimpíada Brasileira de Astronomia e Astronáutica, os alunos da Etec Comendador João Rays – Barra Bonita se destacaram com excelentes resultados.</p>

      <div class="espaco-acima"></div>

      <p>Paulo Cesar Ferrarez Filho conquistou medalha de bronze e Vitor Francisco Pullini, a medalha de prata, tendo se classificado para participar das seletivas para formação das equipes que representarão o Brasil na Olimpíada Internacional de Astronomia e Astrofísica, e na Olimpíada Latino Americana de Astronomia e Astronáutica, que serão realizadas em 2019.</p>

      <div class="espaco-acima"></div>

      <p>Parabéns Paulo e Vitor, por essa importante conquista. E continuaremos na torcida pelo Vitor, para que consiga representar bem o Brasil.</p>

    </ion-card-content>
  </ion-card>

 
   <div class="limpar"></div>

  <h5 class="espaco-esquerda">Compartilhar</h5>

  <ion-fab-button defalt class="flutuar espaco-esquerda1" color="light"><ion-icon name="logo-vimeo" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-facebook" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
  <ion-fab-button class="flutuar espaco-esquerda" color="light"><ion-icon name="logo-twitter" color="dark"></ion-icon></ion-fab-button>

  <div class="limpar"></div>

  <div class="espaco-acima"></div>



  <ion-col width-50 style="text-align: right">
      <ion-button class="botao espaco-esquerda" href="/not1">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        Anterior
      </ion-button>
    </ion-col>
    <ion-col width-50 style="text-align: left">
      <ion-button class="botao" href="/not3">
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
        Proximo
      </ion-button>
    </ion-col>


      <div class="espaco-acima"></div>

</ion-content>
