<ion-header>
  <ion-toolbar color="marketing">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" routerLink="/cursos">
          <ion-icon name="arrow-round-back" class="fonte"></ion-icon>
      </ion-buttons>

    <ion-title>Marketing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/img-curso/marketing.jpeg"></ion-img>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Habilitação Profissional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          O TÉCNICO EM MARKETING é o profissional ético que colabora na elaboração do plano de marketing da empresa, de acordo com seu ramo ou porte, tendo a competência aliada ao domínio técnico e no planejamento e implementação de ações de vendas e ações de mercado. Executa tarefa de análise das vendas, preços e produtos.

          <div class="espaco-acima"></div>

          Operacionaliza as políticas de comunicação da empresa: fidelização de clientes, relação com fornecedores ou outras entidades. Operacionaliza políticas de apresentação dos produtos no ponto de venda.
    
    <div class="espaco-acima"></div>
    
    Executa o controle, estatísticas e operações de telemarketing. Participa na elaboração e na realização de estudos de mercado, interpreta e aplica a legislação da área.
    
      </ion-card-content>
    </ion-card>
    

    <ion-card>
        <ion-card-header>
          <ion-card-title>Grade curricular</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            O curso de TÉCNICO EM MARKETING é composto por três módulos.
            <div class="espaco-acima"></div>
            O MÓDULO I não oferece terminalidade e será destinado à construção de um conjunto de competências que subsidiarão o desenvolvimento de competências mais complexas, previstas para os módulos subsequentes.
            <div class="espaco-acima"></div>
            O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de ASSISTENTE DE VENDAS.
            <div class="espaco-acima"></div>
            Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM MARKETING, desde que tenha concluído, também, o Ensino Médio.
        </ion-card-content>
      </ion-card>


      <ion-list>
          <ion-item-divider>
            <ion-label>
                MÓDULO I
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Introdução ao Marketing</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Legislação de Mercado</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Comunicação Mercadológica</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Comportamento do Consumidor</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Aplicativos Informatizados</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Gestão de Vendas I</ion-label></ion-item>
          <ion-item><ion-label class="texto">7.Pesquisa de Mercado</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Administração Financeira</ion-label></ion-item>
    
          
          <div class="espaco-acima"></div>

          <ion-item-divider>
            <ion-label>
                MÓDULO II
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Gestão de Vendas II</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Técnicas de Informação e Comunicação Mercadológica</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Inglês Instrumental I</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Linguagem, Trabalho e Tecnologia</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Espanhol Instrumental I</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Estratégias de Marketing</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Informática Aplicada ao Marketing</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Planejamento do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Marketing</p></ion-label></ion-item>
    
     <div class="espaco-acima"></div>
     
    <ion-item-divider>
            <ion-label>
                MÓDULO III
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label class="texto">1.Canais de Distribuição</ion-label></ion-item>
          <ion-item><ion-label class="texto">2.Marketing Institucional</ion-label></ion-item>
          <ion-item><ion-label class="texto">3.Empreendedorismo</ion-label></ion-item>
          <ion-item><ion-label class="texto">4.Plano de Comunicação</ion-label></ion-item>
          <ion-item><ion-label class="texto">5.Ética e Cidadania Organizacional</ion-label></ion-item>
          <ion-item><ion-label class="texto">6.Espanhol Instrumental II</ion-label></ion-item>
    <ion-item><ion-label class="texto">7.Inglês Instrumental II</ion-label></ion-item>
          <ion-item><ion-label class="texto">8.Desenvolvimento  do Trabalho de <p class="texto">Conclusão de Curso (TCC) em Marketing</p></ion-label></ion-item>
        </ion-list>
    
        <div class="espaco-acima"></div>
    <ion-button href="https://www.vestibulinhoetec.com.br/home/" expand="block" color="marketing">Inscrever - se</ion-button>
    <div class="espaco-acima"></div>

</ion-content>
