<ion-header>
  <ion-toolbar color="vermelho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/login">
      <ion-icon name="add-circle-outline" class="fonte"></ion-icon>
    </ion-buttons>
    <ion-title>Inicial</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/logo.jpg" />
  <h3 class="espaco-esquerda">Bem Vindo ao App Etec!</h3>


  <ion-card class="espaco-acima" (click)="mostraNoticia(noticia)" *ngFor="let noticia of listaConteudo">
    <ion-img [src]="noticia.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{noticia.titulo}}</ion-card-title>
      <ion-card-subtitle>{{noticia.subtitulo}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>

<ion-footer>
  
    <img src="../assets/propaganda.jpg" />
  
</ion-footer>